.container {
    &__form {
      padding: 0 20px;
      box-sizing: border-box;
  
      &__text {
        padding: 10px;
      }
  
      &__forgot {
        width: 100%;
        text-align: end;
        margin-top: 15px;
  
        a {
          margin-right: 9px;
          cursor: pointer;
        }
      }
  
      &__button {
        margin: 2rem 0 2rem 0;
        button {
          width: 100%;
          height: 40px;
        }
      }
    }
  }

  .text-center {
    display: flex;
    justify-content: center;
  }